* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}


.menu-bar {
    border-bottom: 1px solid rgb(244, 244, 244);
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-option-container {
    height: 100%;
    display: flex;
    gap: 10px;

}

.icon-container {
    height: 100%;
    display: grid;
    place-items: center;
}

.icon-container>img {
    width: 30px;
    margin-left: 10px;
}

.options-container {
    height: 100%;
    display: flex;
    gap: 10px;
}

.droupdown-box {
    cursor: pointer;
    width: 50px;
    height: 100%;
    display: grid;
    place-items: center;
}

.navigation-menu-image>img {
    cursor: pointer;
    filter: invert(1);
    width: 16px;
    height: 16px;
    margin: 13px;
}

.navigation-menu-image {
    transition: all 0.4s;
}

.navigation-menu-image:hover {
    background-color: grey;
}

.red:hover {
    background-color: red !important;
}


.side-bar {
    width: 48px;
    height: 93vh;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(229, 229, 229);
}

.flex-center{
    cursor: pointer;
    display: grid;
    gap: 15px;
    place-items: center;
}
.grid-center{
    display: grid;
    place-items: center;
}


.explorer-container-image{
    padding:8px;
}

.explorer-container-image:hover{
   border-left: 1px solid red;
}

.explorer-container-image>img {
    filter: invert(1);
    width: 25px;
}

.setting-container-image{
    padding:7px;
}

.setting-container-image:hover{
   border-left: 1px solid red;
}

.setting-container-image>img{
   width: 30px;
   filter: invert(1);
}